.Home{
    /* align-items: center; */
    /* width: 500px; */
    /* margin:0 auto; */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* background-color: red; */
}